.profile-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 20px;
    background:#f5f5f5;
    min-height:80vh;
}

.profile-card{
    width:450px;
    background:white;
    border-radius:18px;
    padding:35px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.profile-photo{
    position:relative;
    width:140px;
    margin:0 auto;
}

.camera-btn{
    position:absolute;
    bottom:-4px;
    right:-4px;

    width:40px;
    height:40px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:50%;

    background:#6c3fc5;
    color:white;

    cursor:pointer;

    box-shadow:0 2px 8px rgba(0,0,0,.25);

    z-index:10;

    transition:.2s;
}

.camera-btn:hover{
    background:#5630a3;
    transform:scale(1.08);
}

.camera-btn svg{
    width:16px;
    height:16px;
}

.delete-photo-btn{
    position:absolute;
    bottom:-4px;
    left:-4px;

    width:40px;
    height:40px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:50%;

    background:#dc3545;
    color:white;

    cursor:pointer;

    box-shadow:0 2px 8px rgba(0,0,0,.25);

    z-index:10;

    transition:.2s;
}

.delete-photo-btn:hover{
    background:#bb2d3b;
    transform:scale(1.08);
}

.delete-photo-btn svg{
    width:16px;
    height:16px;
}

.profile-photo img{
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #6c3fc5;
    display:block;
}

.camera-btn:hover{
    background:#5630a3;
}



.profile-card h2{
    margin-top:20px;
    color:#333;
}

.role{
    color:#6c3fc5;
    font-weight:bold;
    margin-bottom:30px;
}

.profile-info{
    text-align:left;
}

.info-row{
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.info-row span{
    color:#666;
}

.edit-btn{
    width:100%;
    margin-top:30px;
    padding:14px;
    background:#6c3fc5;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

.edit-btn:hover{
    background:#5630a3;
}
.edit-form{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:20px;
}

.edit-form input{
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}

.edit-form button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#4CAF50;
    color:white;
    cursor:pointer;
}