.cart-container{
    max-width:900px;
    margin:40px auto;
    padding:20px;
}

.cart-card{
    display:flex;
    gap:20px;
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.cart-card img{
    width:140px;
    height:140px;
    object-fit:cover;
    border-radius:10px;
}
.cart-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.cart-container p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.cart-info{
    flex:1;
}

.cart-info h3{
    margin-bottom:10px;
}

.cart-info h4{
    margin-top:15px;
    color:#6c3fc5;
}
.quantity-box{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:10px;
}

.quantity-box button{
    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    background:#6c3fc5;
    color:white;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}

.quantity-box button:hover{
    background:#5630a3;
}

.quantity-box span{
    min-width:20px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
}
.cart-total{
    margin-top:30px;
    text-align:right;
    background:#6c3fc5;
    padding:20px;
    border-radius:12px;
}

.cart-total h2{
    color:white;
    margin:0;
}

.checkout-btn{
    margin-top:15px;
    padding:14px 28px;
    border:none;
    border-radius:10px;
    background:white;
    color:#6c3fc5;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#f0f0f0;
}