.payment-container{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.payment-card{
    width:420px;
    background:#1f2937;
    padding:30px;
    border-radius:12px;
}

.payment-card h3{
    color:white;
    margin-bottom:20px;
}

.payment-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:none;
}

.card-row{
    display:flex;
    gap:15px;
}

.card-row input{
    flex:1;
}

.payment-content{
    display:flex;
    gap:30px;
    align-items:flex-start;
}

.summary-card{
    width:320px;
    background:#1f2937;
    border-radius:12px;
    padding:25px;
}

.summary-card h3{
    color:white;
    margin-bottom:20px;
}

.summary-item{
    display:flex;
    justify-content:space-between;
    color:white;
    margin-bottom:12px;
}

.summary-card hr{
    margin:20px 0;
}

.summary-card h2{
    color:white;
}
.summary-card .checkout-btn{
    width:100%;
    margin-top:20px;
}