.footer{
    margin-top:60px;
    background:#301f37;
    color:white;
}

.footer-container{
    max-width:1400px;
    margin:auto;
    padding:50px 40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-section h3,
.footer-section h4{
    margin-bottom:15px;
}

.footer-section p{
    color:#d1d5db;
    line-height:1.6;
}

.footer-section a{
    display:block;
    color:#d1d5db;
    text-decoration:none;
    margin-bottom:10px;
    transition:.3s;
}

.footer-section a:hover{
    color:#7c3aed;
}

.footer-bottom{
    text-align:center;
    padding:20px;
    border-top:1px solid rgba(255,255,255,.1);
    color:#cbd5e1;
}